/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import { mergeOnlyDefinedHeaders, mergeHeaders } from "../../../../../../core/headers.js";
import { V1Socket } from "./Socket.js";
import { Audio } from "../resources/audio/client/Client.js";

export declare namespace V1 {
    export interface Options {
        environment?: core.Supplier<environments.DeepgramEnvironment | environments.DeepgramEnvironmentUrls>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        fetcher?: core.FetchFunction;
    }

    export interface ConnectArgs {
        encoding?: string | undefined;
        mip_opt_out?: string | undefined;
        model?: string | undefined;
        sample_rate?: string | undefined;
        Authorization: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class V1 {
    protected readonly _options: V1.Options;
    protected _audio: Audio | undefined;

    constructor(_options: V1.Options = {}) {
        this._options = _options;
    }

    public get audio(): Audio {
        return (this._audio ??= new Audio(this._options));
    }

    public async connect(args: V1.ConnectArgs): Promise<V1Socket> {
        const { encoding, mip_opt_out, model, sample_rate, headers, debug, reconnectAttempts } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (encoding != null) {
            _queryParams["encoding"] = encoding;
        }

        if (mip_opt_out != null) {
            _queryParams["mip_opt_out"] = mip_opt_out;
        }

        if (model != null) {
            _queryParams["model"] = model;
        }

        if (sample_rate != null) {
            _queryParams["sample_rate"] = sample_rate;
        }

        let _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({
                ...(await this._getCustomAuthorizationHeaders()),
                Authorization: args["Authorization"],
            }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options["baseUrl"])) ??
                    (
                        (await core.Supplier.get(this._options["environment"])) ??
                        environments.DeepgramEnvironment.Production
                    ).production,
                "/v1/speak",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new V1Socket({ socket });
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["DEEPGRAM_API_KEY"];
        return { Authorization: `Token ${apiKeyValue}` };
    }
}
