// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../../../errors/index.js";
import * as Deepgram from "../../../../../../../../../../../index.js";

export declare namespace FieldsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FieldsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FieldsClient.Options>;

    constructor(options: FieldsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists the accessors, deployment types, tags, and line items used for billing data in the specified time period. Use this endpoint if you want to filter your results from the Billing Breakdown endpoint and want to know what filters are available.
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {Deepgram.manage.v1.projects.billing.FieldsListRequest} request
     * @param {FieldsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.manage.v1.projects.billing.fields.list("123456-7890-1234-5678-901234", {
     *         start: "start",
     *         end: "end"
     *     })
     */
    public list(
        project_id: string,
        request: Deepgram.manage.v1.projects.billing.FieldsListRequest = {},
        requestOptions?: FieldsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.ListBillingFieldsV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__list(project_id, request, requestOptions));
    }

    private async __list(
        project_id: string,
        request: Deepgram.manage.v1.projects.billing.FieldsListRequest = {},
        requestOptions?: FieldsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.ListBillingFieldsV1Response>> {
        const { start, end } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (start != null) {
            _queryParams.start = start;
        }

        if (end != null) {
            _queryParams.end = end;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/billing/fields`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Deepgram.ListBillingFieldsV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/billing/fields",
        );
    }
}
