// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as Deepgram from "../../../../../../../../../index.js";
import { InvitesClient } from "../resources/invites/client/Client.js";
import { ScopesClient } from "../resources/scopes/client/Client.js";

export declare namespace MembersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MembersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MembersClient.Options>;
    protected _invites: InvitesClient | undefined;
    protected _scopes: ScopesClient | undefined;

    constructor(options: MembersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get invites(): InvitesClient {
        return (this._invites ??= new InvitesClient(this._options));
    }

    public get scopes(): ScopesClient {
        return (this._scopes ??= new ScopesClient(this._options));
    }

    /**
     * Retrieves a list of members for a given project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.manage.v1.projects.members.list("123456-7890-1234-5678-901234")
     */
    public list(
        project_id: string,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.ListProjectMembersV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__list(project_id, requestOptions));
    }

    private async __list(
        project_id: string,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.ListProjectMembersV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/members`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.ListProjectMembersV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/members",
        );
    }

    /**
     * Removes a member from the project using their unique member ID
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {string} member_id - The unique identifier of the Member
     * @param {MembersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.manage.v1.projects.members.delete("123456-7890-1234-5678-901234", "123456789012345678901234")
     */
    public delete(
        project_id: string,
        member_id: string,
        requestOptions?: MembersClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.DeleteProjectMemberV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__delete(project_id, member_id, requestOptions));
    }

    private async __delete(
        project_id: string,
        member_id: string,
        requestOptions?: MembersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.DeleteProjectMemberV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/members/${core.url.encodePathParam(member_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.DeleteProjectMemberV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/projects/{project_id}/members/{member_id}",
        );
    }
}
