// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { SettingsClient } from "../resources/settings/client/Client.js";
import { V1Socket } from "./Socket.js";

export declare namespace V1Client {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        Authorization: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class V1Client {
    protected readonly _options: V1Client.Options;
    protected _settings: SettingsClient | undefined;

    constructor(options: V1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get settings(): SettingsClient {
        return (this._settings ??= new SettingsClient(this._options));
    }

    public async connect(args: V1Client.ConnectArgs): Promise<V1Socket> {
        const { headers, debug, reconnectAttempts } = args;
        const _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({
                ...(await this._getCustomAuthorizationHeaders()),
                Authorization: args.Authorization,
            }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).agent,
                "/v1/agent/converse",
            ),
            protocols: [],
            queryParameters: {},
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new V1Socket({ socket });
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | undefined>> {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env.DEEPGRAM_API_KEY;
        return { Authorization: `Token ${apiKeyValue}` };
    }
}
