// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as Deepgram from "../../../../../../../index.js";

export declare namespace DistributionCredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DistributionCredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DistributionCredentialsClient.Options>;

    constructor(options: DistributionCredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists sets of distribution credentials for the specified project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {DistributionCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.selfHosted.v1.distributionCredentials.list("123456-7890-1234-5678-901234")
     */
    public list(
        project_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.ListProjectDistributionCredentialsV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__list(project_id, requestOptions));
    }

    private async __list(
        project_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.ListProjectDistributionCredentialsV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/self-hosted/distribution/credentials`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.ListProjectDistributionCredentialsV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/self-hosted/distribution/credentials",
        );
    }

    /**
     * Creates a set of distribution credentials for the specified project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {Deepgram.selfHosted.v1.CreateProjectDistributionCredentialsV1Request} request
     * @param {DistributionCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.selfHosted.v1.distributionCredentials.create("123456-7890-1234-5678-901234", {
     *         provider: "quay"
     *     })
     */
    public create(
        project_id: string,
        request: Deepgram.selfHosted.v1.CreateProjectDistributionCredentialsV1Request = {},
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.CreateProjectDistributionCredentialsV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__create(project_id, request, requestOptions));
    }

    private async __create(
        project_id: string,
        request: Deepgram.selfHosted.v1.CreateProjectDistributionCredentialsV1Request = {},
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.CreateProjectDistributionCredentialsV1Response>> {
        const { scopes, provider, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            scopes: Array.isArray(scopes) ? scopes.map((item) => item) : scopes != null ? scopes : undefined,
            provider: provider != null ? provider : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/self-hosted/distribution/credentials`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.CreateProjectDistributionCredentialsV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{project_id}/self-hosted/distribution/credentials",
        );
    }

    /**
     * Returns a set of distribution credentials for the specified project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {string} distribution_credentials_id - The UUID of the distribution credentials
     * @param {DistributionCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.selfHosted.v1.distributionCredentials.get("123456-7890-1234-5678-901234", "8b36cfd0-472f-4a21-833f-2d6343c3a2f3")
     */
    public get(
        project_id: string,
        distribution_credentials_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.GetProjectDistributionCredentialsV1Response> {
        return core.HttpResponsePromise.fromPromise(
            this.__get(project_id, distribution_credentials_id, requestOptions),
        );
    }

    private async __get(
        project_id: string,
        distribution_credentials_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.GetProjectDistributionCredentialsV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/self-hosted/distribution/credentials/${core.url.encodePathParam(distribution_credentials_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.GetProjectDistributionCredentialsV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}",
        );
    }

    /**
     * Deletes a set of distribution credentials for the specified project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {string} distribution_credentials_id - The UUID of the distribution credentials
     * @param {DistributionCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.selfHosted.v1.distributionCredentials.delete("123456-7890-1234-5678-901234", "8b36cfd0-472f-4a21-833f-2d6343c3a2f3")
     */
    public delete(
        project_id: string,
        distribution_credentials_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.GetProjectDistributionCredentialsV1Response> {
        return core.HttpResponsePromise.fromPromise(
            this.__delete(project_id, distribution_credentials_id, requestOptions),
        );
    }

    private async __delete(
        project_id: string,
        distribution_credentials_id: string,
        requestOptions?: DistributionCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.GetProjectDistributionCredentialsV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/self-hosted/distribution/credentials/${core.url.encodePathParam(distribution_credentials_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.GetProjectDistributionCredentialsV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}",
        );
    }
}
