// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as Deepgram from "../../../../../../../index.js";

export declare namespace MediaClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MediaClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MediaClient.Options>;

    constructor(options: MediaClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Transcribe audio and video using Deepgram's speech-to-text REST API
     *
     * @param {Deepgram.listen.v1.ListenV1RequestUrl} request
     * @param {MediaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.listen.v1.media.transcribeUrl({
     *         callback: "callback",
     *         callback_method: "POST",
     *         extra: "extra",
     *         sentiment: true,
     *         summarize: "v2",
     *         tag: "tag",
     *         topics: true,
     *         custom_topic: "custom_topic",
     *         custom_topic_mode: "extended",
     *         intents: true,
     *         custom_intent: "custom_intent",
     *         custom_intent_mode: "extended",
     *         detect_entities: true,
     *         detect_language: true,
     *         diarize: true,
     *         dictation: true,
     *         encoding: "linear16",
     *         filler_words: true,
     *         keywords: "keywords",
     *         language: "language",
     *         measurements: true,
     *         model: "nova-3",
     *         multichannel: true,
     *         numerals: true,
     *         paragraphs: true,
     *         profanity_filter: true,
     *         punctuate: true,
     *         redact: "redact",
     *         replace: "replace",
     *         search: "search",
     *         smart_format: true,
     *         utterances: true,
     *         utt_split: 1.1,
     *         version: "latest",
     *         mip_opt_out: true,
     *         url: "https://dpgr.am/spacewalk.wav"
     *     })
     */
    public transcribeUrl(
        request: Deepgram.listen.v1.ListenV1RequestUrl,
        requestOptions?: MediaClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.listen.v1.MediaTranscribeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__transcribeUrl(request, requestOptions));
    }

    private async __transcribeUrl(
        request: Deepgram.listen.v1.ListenV1RequestUrl,
        requestOptions?: MediaClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.listen.v1.MediaTranscribeResponse>> {
        const {
            callback,
            callback_method: callbackMethod,
            extra,
            sentiment,
            summarize,
            tag,
            topics,
            custom_topic: customTopic,
            custom_topic_mode: customTopicMode,
            intents,
            custom_intent: customIntent,
            custom_intent_mode: customIntentMode,
            detect_entities: detectEntities,
            detect_language: detectLanguage,
            diarize,
            dictation,
            encoding,
            filler_words: fillerWords,
            keyterm,
            keywords,
            language,
            measurements,
            model,
            multichannel,
            numerals,
            paragraphs,
            profanity_filter: profanityFilter,
            punctuate,
            redact,
            replace,
            search,
            smart_format: smartFormat,
            utterances,
            utt_split: uttSplit,
            version,
            mip_opt_out: mipOptOut,
            ..._body
        } = request;
        const _queryParams: Record<string, unknown> = {
            callback,
            callback_method: callbackMethod != null ? callbackMethod : undefined,
            extra,
            sentiment,
            summarize: summarize != null ? summarize : undefined,
            tag,
            topics,
            custom_topic: customTopic,
            custom_topic_mode: customTopicMode != null ? customTopicMode : undefined,
            intents,
            custom_intent: customIntent,
            custom_intent_mode: customIntentMode != null ? customIntentMode : undefined,
            detect_entities: detectEntities,
            detect_language: detectLanguage,
            diarize,
            dictation,
            encoding: encoding != null ? encoding : undefined,
            filler_words: fillerWords,
            keyterm,
            keywords,
            language,
            measurements,
            model: model != null ? model : undefined,
            multichannel,
            numerals,
            paragraphs,
            profanity_filter: profanityFilter,
            punctuate,
            redact,
            replace,
            search,
            smart_format: smartFormat,
            utterances,
            utt_split: uttSplit,
            version: version != null ? version : undefined,
            mip_opt_out: mipOptOut,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                "v1/listen",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.listen.v1.MediaTranscribeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/listen");
    }

    /**
     * Transcribe audio and video using Deepgram's speech-to-text REST API
     *
     * @param {core.file.Uploadable} uploadable
     * @param {Deepgram.listen.v1.MediaTranscribeRequestOctetStream} request
     * @param {MediaClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.listen.v1.media.transcribeFile(createReadStream("path/to/file"), {})
     */
    public transcribeFile(
        uploadable: core.file.Uploadable,
        request: Deepgram.listen.v1.MediaTranscribeRequestOctetStream,
        requestOptions?: MediaClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.listen.v1.MediaTranscribeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__transcribeFile(uploadable, request, requestOptions));
    }

    private async __transcribeFile(
        uploadable: core.file.Uploadable,
        request: Deepgram.listen.v1.MediaTranscribeRequestOctetStream,
        requestOptions?: MediaClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.listen.v1.MediaTranscribeResponse>> {
        const _queryParams: Record<string, unknown> = {
            callback: request.callback,
            callback_method: request.callback_method != null ? request.callback_method : undefined,
            extra: request.extra,
            sentiment: request.sentiment,
            summarize: request.summarize != null ? request.summarize : undefined,
            tag: request.tag,
            topics: request.topics,
            custom_topic: request.custom_topic,
            custom_topic_mode: request.custom_topic_mode != null ? request.custom_topic_mode : undefined,
            intents: request.intents,
            custom_intent: request.custom_intent,
            custom_intent_mode: request.custom_intent_mode != null ? request.custom_intent_mode : undefined,
            detect_entities: request.detect_entities,
            detect_language: request.detect_language,
            diarize: request.diarize,
            dictation: request.dictation,
            encoding: request.encoding != null ? request.encoding : undefined,
            filler_words: request.filler_words,
            keyterm: request.keyterm,
            keywords: request.keywords,
            language: request.language,
            measurements: request.measurements,
            model: request.model != null ? request.model : undefined,
            multichannel: request.multichannel,
            numerals: request.numerals,
            paragraphs: request.paragraphs,
            profanity_filter: request.profanity_filter,
            punctuate: request.punctuate,
            redact: request.redact,
            replace: request.replace,
            search: request.search,
            smart_format: request.smart_format,
            utterances: request.utterances,
            utt_split: request.utt_split,
            version: request.version != null ? request.version : undefined,
            mip_opt_out: request.mip_opt_out,
        };
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                "v1/listen",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/octet-stream",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.listen.v1.MediaTranscribeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/listen");
    }
}
