// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { V2Socket } from "./Socket.js";

export declare namespace V2Client {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        model: string;
        encoding?: string;
        sample_rate?: string;
        eager_eot_threshold?: string;
        eot_threshold?: string;
        eot_timeout_ms?: string;
        keyterm?: string;
        mip_opt_out?: string;
        tag?: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class V2Client {
    protected readonly _options: NormalizedClientOptions<V2Client.Options>;

    constructor(options: V2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async connect(args: V2Client.ConnectArgs): Promise<V2Socket> {
        const {
            model,
            encoding,
            sample_rate: sampleRate,
            eager_eot_threshold: eagerEotThreshold,
            eot_threshold: eotThreshold,
            eot_timeout_ms: eotTimeoutMs,
            keyterm,
            mip_opt_out: mipOptOut,
            tag,
            headers,
            debug,
            reconnectAttempts,
        } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams.model = model;
        if (encoding != null) {
            _queryParams.encoding = encoding;
        }

        if (sampleRate != null) {
            _queryParams.sample_rate = sampleRate;
        }

        if (eagerEotThreshold != null) {
            _queryParams.eager_eot_threshold = eagerEotThreshold;
        }

        if (eotThreshold != null) {
            _queryParams.eot_threshold = eotThreshold;
        }

        if (eotTimeoutMs != null) {
            _queryParams.eot_timeout_ms = eotTimeoutMs;
        }

        if (keyterm != null) {
            _queryParams.keyterm = keyterm;
        }

        if (mipOptOut != null) {
            _queryParams.mip_opt_out = mipOptOut;
        }

        if (tag != null) {
            _queryParams.tag = tag;
        }

        const authRequest = await this._options.authProvider?.getAuthRequest();
        const _headers: Record<string, unknown> = mergeHeaders(
            authRequest?.headers ?? {},
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).production,
                "/v2/listen",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { 
                debug: debug ?? false, 
                maxRetries: reconnectAttempts ?? 30,
                startClosed: true,
                connectionTimeout: 10000, // Increase timeout to 10 seconds
            },
        });
        return new V2Socket({ socket });
    }
}
