/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments.js";
import * as core from "../../../../../../core/index.js";
import { mergeOnlyDefinedHeaders, mergeHeaders } from "../../../../../../core/headers.js";
import { V2Socket } from "./Socket.js";

export declare namespace V2 {
    export interface Options {
        environment?: core.Supplier<environments.DeepgramEnvironment | environments.DeepgramEnvironmentUrls>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        fetcher?: core.FetchFunction;
    }

    export interface ConnectArgs {
        model: string;
        encoding?: string | undefined;
        sample_rate?: string | undefined;
        eager_eot_threshold?: string | undefined;
        eot_threshold?: string | undefined;
        eot_timeout_ms?: string | undefined;
        keyterm?: string | undefined;
        mip_opt_out?: string | undefined;
        tag?: string | undefined;
        Authorization: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class V2 {
    protected readonly _options: V2.Options;

    constructor(_options: V2.Options = {}) {
        this._options = _options;
    }

    public async connect(args: V2.ConnectArgs): Promise<V2Socket> {
        const {
            model,
            encoding,
            sample_rate,
            eager_eot_threshold,
            eot_threshold,
            eot_timeout_ms,
            keyterm,
            mip_opt_out,
            tag,
            headers,
            debug,
            reconnectAttempts,
        } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["model"] = model;
        if (encoding != null) {
            _queryParams["encoding"] = encoding;
        }

        if (sample_rate != null) {
            _queryParams["sample_rate"] = sample_rate;
        }

        if (eager_eot_threshold != null) {
            _queryParams["eager_eot_threshold"] = eager_eot_threshold;
        }

        if (eot_threshold != null) {
            _queryParams["eot_threshold"] = eot_threshold;
        }

        if (eot_timeout_ms != null) {
            _queryParams["eot_timeout_ms"] = eot_timeout_ms;
        }

        if (keyterm != null) {
            _queryParams["keyterm"] = keyterm;
        }

        if (mip_opt_out != null) {
            _queryParams["mip_opt_out"] = mip_opt_out;
        }

        if (tag != null) {
            _queryParams["tag"] = tag;
        }

        let _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({
                ...(await this._getCustomAuthorizationHeaders()),
                Authorization: args["Authorization"],
            }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options["baseUrl"])) ??
                    (
                        (await core.Supplier.get(this._options["environment"])) ??
                        environments.DeepgramEnvironment.Production
                    ).production,
                "/v2/listen",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new V2Socket({ socket });
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["DEEPGRAM_API_KEY"];
        return { Authorization: `Token ${apiKeyValue}` };
    }
}
