// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import type * as Deepgram from "../../../../../index.js";
import { V2Socket } from "./Socket.js";

export declare namespace V2Client {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        model: Deepgram.ListenV2Model;
        encoding?: Deepgram.ListenV2Encoding;
        sample_rate?: Deepgram.ListenV2SampleRate | undefined;
        eager_eot_threshold?: Deepgram.ListenV2EagerEotThreshold | undefined;
        eot_threshold?: Deepgram.ListenV2EotThreshold | undefined;
        eot_timeout_ms?: Deepgram.ListenV2EotTimeoutMs | undefined;
        keyterm?: Deepgram.ListenV2Keyterm;
        language_hint?: Deepgram.ListenV2LanguageHint;
        mip_opt_out?: Deepgram.ListenV2MipOptOut | undefined;
        tag?: Deepgram.ListenV2Tag | undefined;
        Authorization: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class V2Client {
    protected readonly _options: NormalizedClientOptions<V2Client.Options>;

    constructor(options: V2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async connect(args: V2Client.ConnectArgs): Promise<V2Socket> {
        const {
            model,
            encoding,
            sample_rate: sampleRate,
            eager_eot_threshold: eagerEotThreshold,
            eot_threshold: eotThreshold,
            eot_timeout_ms: eotTimeoutMs,
            keyterm,
            language_hint: languageHint,
            mip_opt_out: mipOptOut,
            tag,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            model,
            encoding: encoding != null ? encoding : undefined,
            sample_rate:
                sampleRate != null ? (typeof sampleRate === "string" ? sampleRate : toJson(sampleRate)) : undefined,
            eager_eot_threshold:
                eagerEotThreshold != null
                    ? typeof eagerEotThreshold === "string"
                        ? eagerEotThreshold
                        : toJson(eagerEotThreshold)
                    : undefined,
            eot_threshold:
                eotThreshold != null
                    ? typeof eotThreshold === "string"
                        ? eotThreshold
                        : toJson(eotThreshold)
                    : undefined,
            eot_timeout_ms:
                eotTimeoutMs != null
                    ? typeof eotTimeoutMs === "string"
                        ? eotTimeoutMs
                        : toJson(eotTimeoutMs)
                    : undefined,
            keyterm: Array.isArray(keyterm)
                ? keyterm.map((item) => (typeof item === "string" ? item : toJson(item)))
                : keyterm != null
                  ? typeof keyterm === "string"
                      ? keyterm
                      : toJson(keyterm)
                  : undefined,
            language_hint: Array.isArray(languageHint)
                ? languageHint.map((item) => (typeof item === "string" ? item : toJson(item)))
                : languageHint != null
                  ? typeof languageHint === "string"
                      ? languageHint
                      : toJson(languageHint)
                  : undefined,
            mip_opt_out:
                mipOptOut != null ? (typeof mipOptOut === "string" ? mipOptOut : toJson(mipOptOut)) : undefined,
            tag: tag != null ? (typeof tag === "string" ? tag : toJson(tag)) : undefined,
        };
        const _headers: Record<string, unknown> = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: args.Authorization }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).production,
                "/v2/listen",
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new V2Socket({ socket });
    }
}
