// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as Deepgram from "../../../../../../../../../index.js";

export declare namespace RequestsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RequestsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RequestsClient.Options>;

    constructor(options: RequestsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generates a list of requests for a specific project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {Deepgram.manage.v1.projects.RequestsListRequest} request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.manage.v1.projects.requests.list("123456-7890-1234-5678-901234", {
     *         start: "2024-01-15T09:30:00Z",
     *         end: "2024-01-15T09:30:00Z",
     *         limit: 1.1,
     *         page: 1.1,
     *         accessor: "12345678-1234-1234-1234-123456789012",
     *         request_id: "12345678-1234-1234-1234-123456789012",
     *         deployment: "hosted",
     *         endpoint: "listen",
     *         method: "sync",
     *         status: "succeeded"
     *     })
     */
    public list(
        project_id: string,
        request: Deepgram.manage.v1.projects.RequestsListRequest = {},
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.ListProjectRequestsV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__list(project_id, request, requestOptions));
    }

    private async __list(
        project_id: string,
        request: Deepgram.manage.v1.projects.RequestsListRequest = {},
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.ListProjectRequestsV1Response>> {
        const {
            start,
            end,
            limit,
            page,
            accessor,
            request_id: requestId,
            deployment,
            endpoint,
            method,
            status,
        } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (start != null) {
            _queryParams.start = start;
        }

        if (end != null) {
            _queryParams.end = end;
        }

        if (limit != null) {
            _queryParams.limit = limit.toString();
        }

        if (page != null) {
            _queryParams.page = page.toString();
        }

        if (accessor != null) {
            _queryParams.accessor = accessor;
        }

        if (requestId != null) {
            _queryParams.request_id = requestId;
        }

        if (deployment != null) {
            _queryParams.deployment = deployment;
        }

        if (endpoint != null) {
            _queryParams.endpoint = endpoint;
        }

        if (method != null) {
            _queryParams.method = method;
        }

        if (status != null) {
            _queryParams.status = status;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/requests`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Deepgram.ListProjectRequestsV1Response,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/requests",
        );
    }

    /**
     * Retrieves a specific request for a specific project
     *
     * @param {string} project_id - The unique identifier of the project
     * @param {string} request_id - The unique identifier of the request
     * @param {RequestsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Deepgram.BadRequestError}
     *
     * @example
     *     await client.manage.v1.projects.requests.get("123456-7890-1234-5678-901234", "123456-7890-1234-5678-901234")
     */
    public get(
        project_id: string,
        request_id: string,
        requestOptions?: RequestsClient.RequestOptions,
    ): core.HttpResponsePromise<Deepgram.GetProjectRequestV1Response> {
        return core.HttpResponsePromise.fromPromise(this.__get(project_id, request_id, requestOptions));
    }

    private async __get(
        project_id: string,
        request_id: string,
        requestOptions?: RequestsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Deepgram.GetProjectRequestV1Response>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).base,
                `v1/projects/${core.url.encodePathParam(project_id)}/requests/${core.url.encodePathParam(request_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Deepgram.GetProjectRequestV1Response, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Deepgram.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.DeepgramError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{project_id}/requests/{request_id}",
        );
    }
}
