// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { toJson } from "../../../../../../core/json.js";
import * as environments from "../../../../../../environments.js";
import type * as Deepgram from "../../../../../index.js";
import { MediaClient } from "../resources/media/client/Client.js";
import { V1Socket } from "./Socket.js";

export declare namespace V1Client {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        callback?: Deepgram.ListenV1Callback | undefined;
        callback_method?: Deepgram.ListenV1CallbackMethod;
        channels?: Deepgram.ListenV1Channels | undefined;
        detect_entities?: Deepgram.ListenV1DetectEntities;
        diarize?: Deepgram.ListenV1Diarize;
        dictation?: Deepgram.ListenV1Dictation;
        encoding?: Deepgram.ListenV1Encoding;
        endpointing?: Deepgram.ListenV1Endpointing | undefined;
        extra?: Deepgram.ListenV1Extra | undefined;
        interim_results?: Deepgram.ListenV1InterimResults;
        keyterm?: Deepgram.ListenV1Keyterm | undefined;
        keywords?: Deepgram.ListenV1Keywords | undefined;
        language?: Deepgram.ListenV1Language | undefined;
        mip_opt_out?: Deepgram.ListenV1MipOptOut | undefined;
        model: Deepgram.ListenV1Model;
        multichannel?: Deepgram.ListenV1Multichannel;
        numerals?: Deepgram.ListenV1Numerals;
        profanity_filter?: Deepgram.ListenV1ProfanityFilter;
        punctuate?: Deepgram.ListenV1Punctuate;
        redact?: Deepgram.ListenV1Redact;
        replace?: Deepgram.ListenV1Replace | undefined;
        sample_rate?: Deepgram.ListenV1SampleRate | undefined;
        search?: Deepgram.ListenV1Search | undefined;
        smart_format?: Deepgram.ListenV1SmartFormat;
        tag?: Deepgram.ListenV1Tag | undefined;
        utterance_end_ms?: Deepgram.ListenV1UtteranceEndMs | undefined;
        vad_events?: Deepgram.ListenV1VadEvents;
        version?: Deepgram.ListenV1Version | undefined;
        Authorization: string;
        /** WebSocket subprotocols to use for the connection. */
        protocols?: string | string[];
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class V1Client {
    protected readonly _options: NormalizedClientOptionsWithAuth<V1Client.Options>;
    protected _media: MediaClient | undefined;

    constructor(options: V1Client.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get media(): MediaClient {
        return (this._media ??= new MediaClient(this._options));
    }

    public async connect(args: V1Client.ConnectArgs): Promise<V1Socket> {
        const {
            callback,
            callback_method: callbackMethod,
            channels,
            detect_entities: detectEntities,
            diarize,
            dictation,
            encoding,
            endpointing,
            extra,
            interim_results: interimResults,
            keyterm,
            keywords,
            language,
            mip_opt_out: mipOptOut,
            model,
            multichannel,
            numerals,
            profanity_filter: profanityFilter,
            punctuate,
            redact,
            replace,
            sample_rate: sampleRate,
            search,
            smart_format: smartFormat,
            tag,
            utterance_end_ms: utteranceEndMs,
            vad_events: vadEvents,
            version,
            protocols,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            callback: callback != null ? (typeof callback === "string" ? callback : toJson(callback)) : undefined,
            callback_method: callbackMethod != null ? callbackMethod : undefined,
            channels: channels != null ? (typeof channels === "string" ? channels : toJson(channels)) : undefined,
            detect_entities: detectEntities != null ? detectEntities : undefined,
            diarize: diarize != null ? diarize : undefined,
            dictation: dictation != null ? dictation : undefined,
            encoding: encoding != null ? encoding : undefined,
            endpointing:
                endpointing != null ? (typeof endpointing === "string" ? endpointing : toJson(endpointing)) : undefined,
            extra: extra != null ? (typeof extra === "string" ? extra : toJson(extra)) : undefined,
            interim_results: interimResults != null ? interimResults : undefined,
            keyterm: keyterm != null ? (typeof keyterm === "string" ? keyterm : toJson(keyterm)) : undefined,
            keywords: keywords != null ? (typeof keywords === "string" ? keywords : toJson(keywords)) : undefined,
            language: language != null ? (typeof language === "string" ? language : toJson(language)) : undefined,
            mip_opt_out:
                mipOptOut != null ? (typeof mipOptOut === "string" ? mipOptOut : toJson(mipOptOut)) : undefined,
            model,
            multichannel: multichannel != null ? multichannel : undefined,
            numerals: numerals != null ? numerals : undefined,
            profanity_filter: profanityFilter != null ? profanityFilter : undefined,
            punctuate: punctuate != null ? punctuate : undefined,
            redact: redact != null ? redact : undefined,
            replace: replace != null ? (typeof replace === "string" ? replace : toJson(replace)) : undefined,
            sample_rate:
                sampleRate != null ? (typeof sampleRate === "string" ? sampleRate : toJson(sampleRate)) : undefined,
            search: search != null ? (typeof search === "string" ? search : toJson(search)) : undefined,
            smart_format: smartFormat != null ? smartFormat : undefined,
            tag: tag != null ? (typeof tag === "string" ? tag : toJson(tag)) : undefined,
            utterance_end_ms:
                utteranceEndMs != null
                    ? typeof utteranceEndMs === "string"
                        ? utteranceEndMs
                        : toJson(utteranceEndMs)
                    : undefined,
            vad_events: vadEvents != null ? vadEvents : undefined,
            version: version != null ? (typeof version === "string" ? version : toJson(version)) : undefined,
        };
        const _headers: Record<string, unknown> = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: args.Authorization }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (
                        (await core.Supplier.get(this._options.environment)) ??
                        environments.DeepgramEnvironment.Production
                    ).production,
                "/v1/listen",
            ),
            protocols: protocols ?? [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new V1Socket({ socket });
    }
}
