name: ci

on: [push]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up node
        uses: actions/setup-node@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Compile
        run: pnpm build

  examples:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up node
        uses: actions/setup-node@v6
                
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Run examples
        run: make examples

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up node
        uses: actions/setup-node@v6
                
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prepare wire tests
        run: pnpm prep-wire-tests

      - name: Test
        run: pnpm test
